# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cs text diff=csharp
*.razor text
*.cshtml text
*.csx text
*.tsx text

# Documentation
*.md text
*.txt text
README text

# Scripts
*.sh text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# Serialization
*.json text
*.yaml text
*.yml text
*.xml text
*.toml text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.gz binary
*.zip binary
*.7z binary
*.tar binary

# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary
